ms-learning-backend/vendor/
ms-learning-backend/var/
ms-learning-backend/.env
ms-learning-backend/public/uploads/
ms-learning-backend/public/build/

ms-learning-frontend/node_modules/
ms-learning-frontend/build/

db_data/
docker/nginx/error.log
docker/nginx/access.log
docker-compose.override.yml

*.log
.DS_Store
Thumbs.db
*.swp
.vscode/
.idea/
.qodo
